@layer reset, base, tokens, recipes, utilities;

@keyframes flickerPink {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
    }
    20%, 24%, 55% {
        opacity: 0.4;
    }
}

@keyframes flickerCyan {
    0%, 10%, 18%, 25%, 53%, 60%, 100% {
        opacity: 1;
    }
    15%, 22%, 57% {
        opacity: 0.3;
    }
}

@keyframes glitch {
    0% {
        transform: none;
    }
    1% {
        transform: skew(5deg);
    }
    2% {
        transform: skew(-3deg);
    }
    3%, 100% {
        transform: none;
    }
}
